/*CE form*/
/*.ce-form {
    display: inline-block;
    width: 1000px;
    max-width: 100%;
    padding: 30px;
    margin: 10px auto 0;
    background: #F8F8F8;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  }

  .ce-form .inner-wrap {
    padding: 30px 0;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
  }

  .ce-form h1 {
    background: #F8F8F8;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: black;
    font: normal 30px 'Arial', serif;
    border: 1px solid #F8F8F8;
  }

  .ce-form label {
    display: block;
    font: 13px Arial, Helvetica, sans-serif;
    color: black;
    margin-bottom: 15px;
  }

  .ce-form input[type="text"],
  .ce-form input[type="date"],
  .ce-form input[type="datetime"],
  .ce-form textarea,
  .ce-form select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  }

  .ce-form .section {
    font: normal 20px 'Arial', serif;
    color: black;
    margin-bottom: 5px;
    float: left;
  }

  .ce-form .section-2 {
    font: normal 20px 'Arial', serif;
    color: black;
    margin-top: 5px;
    float: left;
  }

  .ce-form .section span {
    background: #2A88AD;
    padding: 5px 5px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 2px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
  }

  .ce-form input[type="button"],
  .ce-form input[type="submit"] {
    background: #1B4DAC;
    padding: 8px 20px 8px 20px;
    margin-right: 33px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Arial', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
    float: right;
  }

  .ce-form input[type="button"]:hover,
  .ce-form input[type="submit"]:hover {
    background: #1e5ae1;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  }*/