<div class="ce-form">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone mdl-cell--8-col-tablet">
      <h3>Create Restaurant</h3>
      <input type="text" [(ngModel)]="restaurantDetails.name" class="form-control" placeholder="Name">
      <input type="text" [(ngModel)]="restaurantDetails.email" class="form-control" placeholder="Email">
      <input type="text" [(ngModel)]="restaurantDetails.phone" class="form-control" placeholder="Category">
      <input type="text" [(ngModel)]="restaurantDetails.description" class="form-control" placeholder="Description">
      <button class="mdl-button mdl-js-button mdl-button--raised" style="margin-top:5px;" (click)="addRestaurant()">Create Restaurant</button>
    </div>
  </div>
</div>
