/*Navigation Menu*/
header.custom-header {
  background: #07307b;

}
.mdl-layout__header-row span.mdl-layout-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
}
.custom-header .material-icons {
  color: #fff;
}
.custom-header a.mdl-navigation__link {
  color: #eee;
  font-weight: 700;
  font-size: 14px;
}
.custom-header a.mdl-navigation__link:hover {
  color: #fff;
}
.mdl-layout__drawer span.mdl-layout-title {
  background: #07307b;
  color: #fff;
}
.mdl-layout__drawer a.mdl-navigation__link {
  /*color: #eee;*/
  font-weight: 700;
  font-size: 14px;
}
.mdl-layout__drawer a.mdl-navigation__link:hover {
  color: #000;
}

/*Events*/
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  /*background: url('../images/defaultevent.jpg') center / cover;*/
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

/*settings*/
/*body{ text-align: center; }*/
h1,h2,h3,h4,h5,h6{ font-weight: bold; }
ul,ol{ padding: 0 20px; }

.h4{ display: block; }
.h4 h4{ display: inline-block; }

/*.container{ max-width: 1100px; margin: 0 auto; }*/

.plaatje{ background-color: #e8e8e8; 
  /*background-image: url('../images/map.png'); */
  background-size: cover; background-position: center; height: 150px; }

table.settings{ display: inline-block; text-align: left; }
table.settings tr td{ padding: 5px; }
table.settings tr td:last-child{ text-align: right; }
table.settings label{ font-weight: bold; padding-right: 30px; }

table.buttons td{ width: 50%; }
table.buttons button{ width: 100%;  }

.left{ text-align: left!important; }
.center{ text-align: center!important; }
.right{ float: right; }

/*restaurants*/
.map_canvas {
  overflow:hidden;
  background:none!important;
  height:300px;
  width:130%;
}

/*Create event*/
.ce-form {
    /* DIT VERANDEREN */
    box-sizing: border-box;
    display: block;
    /* DIT VERANDEREN */
    width: 1000px;
    max-width: 100%;
    padding: 30px;
    margin: 10px auto 0;
    background: #F8F8F8;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  }

  .ce-form .inner-wrap {
    padding: 30px 0;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
  }

  .ce-form h1 {
    background: #F8F8F8;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: black;
    font: normal 30px 'Arial', serif;
    border: 1px solid #F8F8F8;
  }

  .ce-form label {
    display: block;
    font: 13px Arial, Helvetica, sans-serif;
    color: black;
    margin-bottom: 15px;
  }

  .ce-form input[type="text"],
  .ce-form input[type="date"],
  .ce-form input[type="datetime"],
  .ce-form textarea,
  .ce-form select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  }

  .ce-form .section {
    font: normal 20px 'Arial', serif;
    color: black;
    margin-bottom: 5px;
    float: left;
  }

  .ce-form .section-2 {
    font: normal 20px 'Arial', serif;
    color: black;
    margin-top: 5px;
    float: left;
  }

  .ce-form .section span {
    background: #2A88AD;
    padding: 5px 5px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 2px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
  }

  .ce-form input[type="button"],
  .ce-form input[type="submit"] {
    background: #1B4DAC;
    padding: 8px 20px 8px 20px;
    margin-right: 33px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Arial', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
    float: right;
  }

  .ce-form input[type="button"]:hover,
  .ce-form input[type="submit"]:hover {
    background: #1e5ae1;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  }